extends layout

block content
  h1= title
  - var results = results
  div(class='container-fluid')
    div(class='row')
      each value in results
        div(class='col-sm-2') Name: #{value.name}<br>Age: #{value.age}<br>Height: #{value.height}
  
